# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://inazezem_db_user:Pli5liBd7UXraWCR@cluster0.xjwuayy.mongodb.net/EasyStock_2?appName=Cluster0

# JWT Configuration
JWT_SECRET=votre_cle_secrete_jwt_tres_longue_et_aleatoire_123456789
JWT_EXPIRE=24h

# Server Configuration
PORT=5000
NODE_ENV=development

# Admin Credentials (seed)
ADMIN_EMAIL=admin@easystock.com
ADMIN_PASSWORD=admin123

# CORS
FRONTEND_URL=http://localhost:5173
